.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.navbar img{
    height: 40px;
}

.menu a {
    margin-left: 20px;
    font-weight: bold;
    color: black;
}

.home-section {
    text-align: center;
    padding: 50px 20px;
}

#welcome-text {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.main-banner {
    width: 100%;
    max-width: 1100px;
    height: 450px;
    margin: 40px auto;
    background: url('../assets/Banner.jpg');
    border-radius: 10px;
}