.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.navbar img{
    height: 40px;
}

.menu a {
    margin-left: 20px;
    font-weight: bold;
}

.menu a.active{
    color: lightgreen;
}

.message-container{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}
.flex-container{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    text-align: left;
}

.form-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.form-box input, .form-box textarea{
    padding: 12px;
    border-radius: 5px;
}

.gender-box{
    display: flex;
    gap: 20px;
}

button{
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: grey;
}
