.welcome-page {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/Banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.logo {

    height: 250px;
    margin-bottom: 30px;
}
h1 {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-bottom: 30px;
}

.btn-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: lightblue;
    font-size: 30px;
    border-radius: 50%;

}
.btn-arrow:hover {
    background: white;

}
